<%- include("partials/header", {
	"title": "Login",
	"hideNav": true
}) %>

<style type="text/css">
	#home_header {
		background: #50E3C2;
		color: white;
		height: 236px;
		width: 100%;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	#description {
		flex: 4;
		padding: 40px;
	}

	#login {
		margin: 40px;
		border-left: 1px solid #c0c0c0;
		border-radius: 4px;
		padding: 40px;
		flex: 1;
	}

	.col-2 {
		display: flex;
	}

	#testimonials-h1 {
		padding-left: 40px;
		margin: 0;
	}

	#testimonials {
		padding: 40px;
	}

	.testimonial {
		padding: 20px;
		max-width: 300px;
		border: 1px solid #C0C0C0;
		border-radius: 4px;
		margin-right: 20px;
	}
</style>

<div id="home_header">
	<h1>
	<span class="logo">
		On Hour Time!
	</span>
	</h1>
	scheduling made easy
</div>

<div class="col-2">
	<div id="description">
		<h2>Why use on hour time?</h2>
		<p>On-Hour-Time is a web-based application intended to provide a simplified form of online scheduling and
			availability. Our mission is to provide users with an efficient way to invite friends/co-workers and
			compare availabilities. On-Hour-Time can be used by any user who is looking for a fast and efficient way
			to compare availabilities. It can be used by but is not limited to students, teachers, recruiters, and
			your every-day soccer mom. </p>
	</div>

	<div id="login">
		<form action="login" method="post">
			<h2>Member Login</h2>
			<label for="email">Email</label><br>
			<input type="email" name="email" id="email"><br>

			<br>

			<label for="password">Password</label><br>
			<input type="password" name="password" id="password">

			<br>

			<input type="submit">
		</form>
	</div>
</div>

<h1 id="testimonials-h1">Testimonials</h1>
<div id="testimonials" class="col-2">
	<div class="testimonial">Best project in my class!<br><br>Professor Meena<br>UGA Professor</div>
	<div class="testimonial">If you don't use this app, you must be an idiot or something!<br><br>Rick<br>Satisfied Customer</div>
	<div class="testimonial">Love it!<br><br>Morty<br>Satisfied Customer</div>
</div>

<script>
	function main() {
	}
</script>

<%- include("partials/footer") %>